<!DOCTYPE html>
{% load static %}
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <title>Incident Logger</title>
    <link href="{% static 'vendor.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static '3.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'guide.1528307769338.css' %}" id="_pendo-css_">
  </head>

  {% block content %}
  {% endblock %}

</html>